<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.miniebayapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".EditProductPhoto"></activity>
        <activity android:name=".EditProductCategory" />
        <activity android:name=".EditProductDepartment" />
        <activity android:name=".EditProductPrice" />
        <activity android:name=".EditProductDescription" />
        <activity android:name=".EditProductName" />
        <activity
            android:name=".EditProduct"
            android:parentActivityName=".SellingPage" />
        <activity
            android:name=".DeleteMyProduct"
            android:parentActivityName=".SellingPage" />
        <activity
            android:name=".AddProduct"
            android:parentActivityName=".SellingPage" />
        <activity android:name=".CheckoutPage" />
        <activity android:name=".SettingsPage" />
        <activity android:name=".HelpPage" />
        <activity android:name=".PaymentMethodPage" />
        <activity android:name=".PurchasesPage" />
        <activity android:name=".BidsOffersPage" />
        <activity android:name=".MyOrdersPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage" />
        <activity android:name=".RegisterPage" />
        <activity android:name=".ChangePasswordPage" />
        <activity
            android:name=".ShoppingCartPage"
            android:parentActivityName=".HomePage" />
        <activity android:name=".SellingPage" />
        <activity android:name=".NotificationPage" />
        <activity android:name=".MyebayInfo" />
    </application>

</manifest>